/* Importing Tempora LGC Uni font from CDN */
@import url('https://fonts.cdnfonts.com/css/tempora-lgc-uni');

/* Setting background color and font for the entire body */
body {
    background-color: #DDF2FD;
    font-family: 'Tempora LGC Uni', sans-serif;
}

/* Styling for the fixed header at the top of the container */
.container h1 {
    width: 100%;
    font-size: 20px;
    font-weight: 900;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #427D9D;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    color: #fff;
}

/* Styling for the media section with flex layout */
.media {
    margin-top: 60px;
    display: flex;
    gap: 20px;
}

/* Styling for the circular images in the media section */
.media img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #427D9D;
}

/* Styling for the chat container */
#chatContainer {
    background-color: #9BBEC8;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* Styling for the chat messages */
.chat {
    background-color: #164863;
    border-radius: 10px;
    color: white;
}

/* Styling for the text box in the chat container */
#textBox {
    border-top-left-radius: 0px;
}

/* Styling for the send button in the chat container */
#sendBtn {
    background-color: #164863;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Styling for a custom alert box */
.custom-alert {
    position: fixed;
    top: 80px;
    right: 25px;
    z-index: 999;
}
